{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static "mac_app/bootstrap/css/bootstrap.min.css" %}">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static "mac_app/bootstrap/css/bootstrap-theme.min.css" %}">

<!-- Latest compiled and minified JavaScript -->
<script src="{% static "mac_app/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "mac_app/bootstrap/js/bootstrap.min.js" %}"></script>

<style>
body {
    margin: 20px;
}
.errorlist {
    color: red;
}

label {
    cursor: pointer;
}
textarea {
    width: 100%;
    box-sizing: border-box;
}

p.ticket_message {
    text-align: center;
    font-style: italic;
    margin: 1em 0;
}

p.right-align {
    text-align: right;
}

#sidebar_search {}

#sidebar_search label {
    margin-bottom: 0;
}

#sidebar_username,
#sidebar_firstname,
#sidebar_lastname {
    width: 100%;
}

</style>
<title>CMSC495 MAC Application</title>
{% block head %} {% endblock %}
</head>
<body>
<div class="container" style="max-width: 970px;">
<h1>    
    <a href="/">CMSC495 MAC Application</a>
</h1>
{% if not no_sidebar %}
<div class='row'>
<div class='col-sm-9'>
{% endif %}
{% block content %}
{% endblock %}
{% if not no_sidebar %}
</div>
<div class='col-sm-3'>

{% if user.is_authenticated %}
<div class="panel panel-default">
  <div class="panel-heading">Logged In As: {{user.username}}</div>
  <div class="panel-body">
    <a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">User Lookup</div>
  <div class="panel-body">
    <form method='GET' action='{% url "users_view" %}' id='sidebar_search'>
        <p>
            <label for='sidebar_username'>Username</label>
            <br />
            <input type='text' id='sidebar_username' name='username' />
        </p>
        <p>
            <label for='sidebar_firstname'>First Name</label>
            <br />
            <input type='text' id='sidebar_firstname' name='first_name' />
        </p>
        <p>
            <label for='sidebar_lastname'>Last Name</label>
            <br />
            <input type='text' id='sidebar_lastname' name='last_name' />
        </p>
        <p class='right-align'><input  type='submit' class='btn btn-primary' /></p>
    </form>
  </div>
</div>  
{% else %}

<div class="panel panel-default">
  <div class="panel-heading">Currently Not Logged In</div>
  <div class="panel-body">
      <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
  </div>
</div>
    {% endif %}
</div>
</div>
{% endif %}
</div>
</body>
</html>