{% extends 'mac_app/base.html' %}

{% block content %}
<h2>Tickets</h2>

{% if is_hr %}
    <h3>HR Operations</h3>
    <a href="{% url 'ticket_edit' action='move_user' %}" class='btn btn-primary btn-block'>Create a Move User Ticket</a>
    <a href="{% url 'ticket_new' %}" class='btn btn-success btn-block'>Create a New User Ticket</a>
    <a href="{% url 'ticket_edit' action='remove_user' %}" class='btn btn-danger btn-block'>Create a Remove User Ticket</a>
{% endif %}

{% for d in departments %}
{% if d.user_in_dept %}
    <h3>{{d.department.description}} Operations</h3>
    {% if d.tickets %}

    <table class='table'>
        <thead>
            <tr>
                <th>Ticket</th>
                <th>User</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for t in d.tickets %}
            <tr>
                <td>
                    {% if t.state == 'n' %}
                    <span class="label label-default" style='margin-right: 0.5em'
                            title='{{t.state_text}}'>
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                    {% elif t.state == 'w' %}
                    <span class="label label-warning" style='margin-right: 0.5em'
                            title='{{t.state_text}}'>
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    {% elif t.state == 'p' %}
                    <span class="label label-primary" style='margin-right: 0.5em'
                            title='{{t.state_text}}'>
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                    </span>
                    {% elif t.state == 'c' %}
                    <span class="label label-success" style='margin-right: 0.5em'
                            title='{{t.state_text}}'>
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                    {% else %}
                    ?
                    {% endif %}
                    <a href="{% url 'ticket_detail' t.ticket.number %}">{{t.ticket.number}}</a>
                </td>
                <td>
                    <a href="{% url 'user_view' username=t.ticket.target.username %}">
                        {{t.ticket.target.username}}
                    </a>
                </td>
                <td>{{t.ticket.ticket_type.name}}</td>
                <td>{{t.state_text}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <p class='ticket_message'>No tickets available at this time.</p>

    {% endif %}
{% endif %}
{% endfor %}

<h3>All Tickets</h3>
<table class='table'>
    <thead>
        <tr>
            <th>Number</th>
            <th>User</th>
            <th>Action</th>
            <th>Last Modified</th>
        </tr>
    </thead>
    <tbody>
{% for ticket in tickets %}
    <tr>
        <td>
            {% if ticket.is_complete %}
            <span class="label label-success" style='margin-right: 0.5em' title='Ticket is Closed'>
                <span class="glyphicon glyphicon-ok"></span>
            </span>
            {% else %}
            <span class="label label-primary" style='margin-right: 0.5em' title='Ticket is Open'>
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </span>
            {% endif %}
            <a href='{% url 'ticket_detail' ticket.number %}'>{{ticket.number}}</a>
        </td>
        <td>
            <a href="{% url 'user_view' username=ticket.target.username %}">
                {{ticket.target.username}}
            </a>
        </td>
        <td>{{ ticket.ticket_type.name }}</td>
        <td>{{ticket.modification_date|date:"Y-m-d H:i:s"}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}